/* ДЗ_3 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  margin-bottom: 400px;
}
/*  стили для чата */
#chat-window {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  width: 300px;
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 9999; 
  overflow-y: auto; 
}

#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  border-radius: 5px;
  width: 100px; 
  height: 45px; 
  font-size: 1.1em; 
}

#chat-messages {
  height: 200px; 
  overflow-y: auto; 
}
.chat-message {
  margin-bottom: 10px; 
}
.user-message {
    color: #555; 
}

.chat-message {
    color: #000;
}
#chat-title {
  text-align: center; 
  font-size: 1.2em; 
  padding: 10px 0; 
  font-weight: bold;
}
#message-input {
  width: calc(100% - 20px); 
  margin: 0 10px 10px; 
  resize: none;
}
#send-button {
  margin: 5px 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Стили для заголовков */
h1 {
  background-color: blue;
  color: #fff;
  padding: 20px;
}
h2 {
  background-color: blue;
  color: #fff;
  padding: 10px;
}

/* Стили для основного текста */
p {
  font-size: 16px;
  line-height: 1.5;
}

/* Стили для ссылок */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Стили для изображения логотипа */
#logo {
  position: absolute;
  top: 31.5px;
  right: 8px;
  width: 74px; 
  height: auto;
}

/* Дополнительные стили */
section {
  margin-bottom: 20px;
}

/* Медиа запросы */
@media screen and (max-width: 600px) {
  header {
    padding: 5px;
  }
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}

/* Стили для формы обратной связи */
form {
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type="submit"] {
  background-color: #007bff; /* Синий цвет для кнопки отправки */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Изменение цвета кнопки при наведении */
}
